<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect requests to the public folder, only if not already there
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]

    # Allow access to the 'uploads' directory
    RewriteCond %{REQUEST_URI} ^/uploads/ [NC]
    RewriteRule .* - [L]

    # Ensure other requests go through index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
